{% extends 'layout.html' %} {% from 'macros.html' import navbar %} {% block main %} {{ navbar('/') }}
<div class="container p-4">
    <form action="">
        <h1 class="text-center text-primary fst-italic display-2">Trivia Game</h2>
            <div class="row">
                <div class="col-4 offset-4 border text-center bg-light mt-5 pt-5 border border-3">
                    <a class="btn btn-primary active mb-5 fs-2 rounded-2" href="/jugar">Play</a>
                    <p class="text-center text-capitalize text-info fw-bold h4">Click the button above to start the trivia game</p>
                </div>
            </div>
    </form>
    <div class="col-6 offset-3 p-4 ">
        <table class="table table-warning table-hover mt-5 border">
            <thead>
                <tr class="text-danger text-center h4">
                    <th scope="col">Name</th>
                    <th scope="col">Score</th>
                    <th scope="col">Percentage</th>
                </tr>
            </thead>
            <tbody class="text-center fw-bold">
                {% for score in scores%}
                <td>{{score.name}}</td>
                <td>{{score.puntaje}}</td>
                <td>{{score.porcentaje}}%</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>


</div>
{% endblock %}