{% extends 'layout.html' %} {% from 'macros.html' import navbar %} {% block main %} {{ navbar('/seguidos') }}

<h2 class="text-center text-primary">Bienvenido {{ user.name }} !!!!</h2>
<div class="row">

    <form method="post" action='/corregir'>
        <div class="col-12"><br> {% for pregunta in nuevoObjeto %}
            <div class="container mb-5 text-danger fw-bold  border overflow-auto">
                {{pregunta.question}}
            </div>
            <div class="container border pt-3 mb-5 fw-bold">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" name="radiosp{{pregunta.id}}" value="{{pregunta.p1}}">
                    <label class="form-check-label">{{pregunta.p1}}</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio2" name="radiosp{{pregunta.id}}" value="{{pregunta.p2}}">
                    <label class="form-check-label">{{pregunta.p2}}</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio3" name="radiosp{{pregunta.id}}" value="{{pregunta.p3}}">
                    <label class="form-check-label">{{pregunta.p3}}</label>
                </div>
            </div>
            <input type="hidden" name="id" value="{{pregunta.id}}">
        </div>
        {% endfor %}

        <!-- los botones -->
        <div class="row justify-content-end mt-2 mb-2">
            <div class="col-4">
                <div class="clearfix">
                    <span class="float-end"><a href="/" class="btn btn-danger text-white">Cancelar</a></span>
                </div>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
        <!-- ****************** -->
    </form>
</div>
</div>
{% block styles %} {% endblock %} {% endblock %}